html {
    background-image: url("../../../assets/img/bg.jpg");
}

#date {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#search-by-time {
    background-image: none !important;
    background-color: #f4f4f4;
}